# Ignore all .xcodeproj
DerivedData/
*.xcuserdatad/
*.xcworkspace/
*.xcuserdata/
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcodeproj/xcuserdata/*.xcuserdatad/
*.xcuserstate

# Ignore .DS_Store
.DS_Store
.env

node_modules/
