# Ignore all .xcodeproj
DerivedData/
*.xcuserdatad/
*.xcworkspace/
*.xcuserdata/
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcodeproj/xcuserdata/*.xcuserdatad/
*.xcuserstate
Pickit.xcodeproj/

# Ignore .DS_Store
.DS_Store
.env

# Ignore API run variables
.env.run.yaml
./services/odds-ingestor/.env.run.yaml
./services/arbitrage-engine/.env.run.yaml
./web/.env.run.yaml
./web/.env

node_modules/

##########################
# All Personal Settings
##########################

# --------------------- #
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
# --------------------- #
